.topbar {
    top: 0;
    display: flex;
    height: 70px;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: #282c34;
    z-index: 1;
    
    justify-content: center;
    align-items: center;
    
    p{
        margin: 20px;
        size: 10px;
        font-size: larger;
        font-weight: bold;
    }
}
