.bookingBox {
    text-align: left;
    font-size: medium;
    border-radius: 8px;
    padding-bottom: 10px;
    width: 60%;
    display: flex;
    .bookingLeft {
        flex: 0.79;

        .title > * {
            color: brown !important;
        }

        .title {
            padding-left: 15px;
        }

        .date {
            font-size: x-large;
            font-weight: bold;
            justify-content: right;
            padding-left: 15px;
        }
    }

    .bookingRight {
        flex: 0.2;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}

.MuiDialogContentText-root {
    color: white !important;
}

.MuiTextField-root {
    color: white !important;
}

.NameField1 {
    color: white !important;
}

TextField {
    color: white !important;
}

@media (max-width: 500px) {
    .bookingBox {
        width: 100% !important;
        padding-right: 15px;
    }
}
