.mainPage {
    background-color: #282c34;

    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    width: 100vw;
    height: calc(100vh - 70px);

    .left {
        flex: 0.5;
        margin-left: 25px;
        margin-right: 25px;

        .mainPage {
            text-align: left;
        }
    }
    
    .right {
        flex: 0.5;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .right{
        display: none;
        visibility: hidden;
    }
    .left {
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 100%;
        flex: 1 !important;
    }
}